.container {
  display: flex;
}
/* pallete CSS */
.pallate-container {
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  margin: 5px;
}
.circle {
  border-radius: 50%;
}
.colorfill {
  width: 19px;
  height: 19px;
  border-radius: 50%;
}
/* matchCSS */
.matchOuterContainer {
  display: flex;
  /* width: 20px; */
  /* height: 40px; */
}
.match-container {
  width: 10px;
  height: 10px;
  border: 1px solid #ccc;
  border-radius: 50%;
}
.dot-fill {
  background-color: black;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
.crossstate {
  background-color: red;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
.empty-fill {
  background-color: white;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

/* rowcss */
.row-container {
  display: flex;
  border: 1px solid black;
  margin: 10px;
}
